set my_mailpass = `gpg -qd ~/.authinfo.gpg | sed -n 's/^machine imap.nwpu.edu.cn .*password \([^ ]*\).*/\1/p'`
set imap_user = "gujiaxi@mail.nwpu.edu.cn"
set imap_pass = $my_mailpass
set smtp_authenticators = 'gssapi:login'
set smtp_url = "smtp://gujiaxi\@mail.nwpu.edu.cn@smtp.nwpu.edu.cn:25/"
set smtp_pass = $my_mailpass

set from = "gujiaxi@mail.nwpu.edu.cn"
set realname = "Jiaxi Gu"
set signature = "echo \"Jiaxi Gu\nNorthwestern Polytechnical University\nXi'an 710072, P.R. China\" |"

set mbox_type = Maildir
set folder = "imaps://imap.nwpu.edu.cn:993/"
set spoolfile = "+Inbox"
set mbox = "+Archive"
set postponed = "+Draft"
set trash = "+Trash"
set record = "+Sent"

set header_cache = ~/.cache/mutt/nwpu_headers
set message_cachedir = ~/.cache/mutt/nwpu_bodies
set message_cache_clean = yes

# vi: ft=muttrc
